{{ header }}
<div id="account-login" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li class="breadcrumb-item">
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		<div id="content" class="col">{{ content_top }}

			<div class="row">
				<div class="col mb-3">
					<div class="border rounded p-3 d-flex flex-column h-100">
						{% if verification %}
							<form id="form-login-verify" action="{{ verify }}" method="post" data-oc-toggle="ajax">
								<div class="row mb-3">
									<label for="phone" class="col-sm-2 col-form-label">
										<strong>Enter OTP</strong>
									</label>
									<div class="col-sm-10">
										<input type="text" id="code" name="code" class="form-control" placeholder="Enter OTP">
										<input type="hidden" id="number" name="telephone" value={{ number }} class="form-control" >
										<input type="hidden" id="email" name="email" value={{ email }} class="form-control" >
									</div>
								</div>
								<div class="text-end">
									<button type="submit" class="btn btn-primary">Send OTP</button>
								</div>
							</form>
						{% endif %}
						{% if register %}
							<form method="post" action="{{ register }}" accept-charset="UTF-8">
								<div class="row mb-3">
									<label for="username" class="col-sm-2 col-form-label">First Name</label>
									<div class="col-sm-10">
										<input id="fName" type="text" name="firstname" value="" class="form-control">
									</div>
								</div>
								
								<div class="row mb-3">
									<label for="username" class="col-sm-2 col-form-label">Last Name</label>
									<div class="col-sm-10">
										<input id="lName" type="text" name="lastname" value="" class="form-control">
									</div>
								</div>

								<div class="row mb-3">
									<label for="email" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<input id="email" type="email" name="email" value="{{ email }}" class="form-control">
									</div>
								</div>
								
								<div class="row mb-3">
									<label for="email" class="col-sm-2 col-form-label">Phone Number</label>
									<div class="col-sm-10">
										<input id="number" type="text" name="telephone" value="{{ number }}" class="form-control">
									</div>
								</div>
								
								<div class="row mb-3">
								<label for="password" class="col-sm-2 col-form-label">Password</label>
									<div class="col-sm-10">
										<input id="password" type="password" name="password" class="form-control">
									</div>
								</div>

								<div class="text-end">
									<button type="submit" class="btn btn-primary">Register</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
        {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
