<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#otpLogin">
	{{ text_login_customer }}
</button>

<div class="modal fade" id="otpLogin" tabindex="-1" aria-labelledby="otpLoginLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="otpLoginLabel">{{ heading_title }}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div class="border rounded p-3">
					<form id="form-login" action="{{ sentOtp }}" method="post" data-oc-toggle="ajax">
						<div class="mb-3 d-flex flex-column">
							<label for="phone" class="form-label text-start"><strong>{{ text_phone_number }}</strong></label>
							<input type="tel" id="phone" name="phone" class="form-control" title="Enter Phone Number With out Country Code" required>
							<input type="hidden" id="number" name="phone-hid" value="" class="form-control" >
						</div>
						<div class="alert alert-info text-start" style="display: none;"></div>

						<div class="text-end">
							<button type="submit" class="btn btn-primary" id="btn-send" title="{{ text_btn_otp_send }}">{{ text_btn_otp_send }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="otpSubmit" tabindex="-1" aria-labelledby="otpSubmitLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="otpSubmitLabel">Enter OTP</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="border rounded p-3">
                    <form id="form-otp-submit" action="{{ verifyOtp }}" method="post" data-oc-toggle="ajax">
                        <div class="mb-3 d-flex flex-column">
                            <label for="otp" class="form-label text-start"><strong>OTP</strong></label>
                            <input type="text" id="otp" name="otp" class="form-control" required>
                        </div>
						<a href="#" class="form-label text-start" data-bs-toggle="tooltip" title="OTP resend" id="otp-resend">Resend OTP</a>

                        <div class="alert alert-info text-start" id="otp-alert" style="display: none;"></div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary" id="btn-verify" title="Verify OTP">Verify OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script type='text/javascript'>

	const phoneInputField = document.querySelector("#phone");
	let num = document.getElementById('number');

	const phoneInput = window.intlTelInput(phoneInputField, {
		utilsScript:
		"https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
	});
	
	const info = document.querySelector(".alert-info");
	const otpAlert = document.querySelector("#otp-alert");

	$("#btn-send").on("click", function(event) {
		event.preventDefault();
		var element = this;
		const phoneNumber = phoneInput.getNumber();
		const isValid = phoneInput.isValidNumber();

		if (isValid) {
			$('#number').val(phoneNumber);
			let number = $('#number').val();
			$.ajax({
				url: 'index.php?route=extension/iml_phone_login/account/iml_phone_login.sendOtp',
				type: 'post',
				data: { login : number},
				dataType: 'json',
				beforeSend: function () {
					$(element).button('loading');
				},
				complete: function () {
					$(element).button('reset');
					$('#otpSubmit').modal('show');
				},
				success: function (json) {
					if (json['error']) {
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}

					if (json['success']) {
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		} else {
			event.preventDefault();
			info.style.display = "block";
			info.innerHTML = `<strong>Invalid phone number.</strong><button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>`;
		}
	});

	$("#form-otp-submit").on("submit", function(event) {
        event.preventDefault();
        var otp = $("#otp").val();
		let number = $('#number').val();

        $.ajax({
            url: 'index.php?route=extension/iml_phone_login/account/iml_phone_login.verifyOtp',
            type: 'post',
            data: {
				otp: otp,
				telephone: number
			},

            dataType: 'json',
            success: function (json) {
                if (json['error']) {
					otpAlert.style.display = "block";
					otpAlert.innerHTML = `<strong>`+ json['error'] + `</strong><button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>`;
                }

				if (json['redirect']) {
					$('#otpSubmit').modal('hide');
					$('#otpLogin').modal('hide');
					window.location.href = json['redirect'];
				}
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

	$("#otp-resend").on("click", function(event){
        event.preventDefault();
		let number = $('#number').val();
		$.ajax({
            url: 'index.php?route=extension/iml_phone_login/account/iml_phone_login.otp',
            type: 'post',
            data: { telephone: number },
			dataType: 'json',
			success: function (json) {
				if(json['error']) {
					otpAlert.style.display = "block";
					otpAlert.innerHTML = `<strong>`+ json['error'] +`</strong><button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>`;
				}

				if(json['succes']){
					otpAlert.style.display = "block";
					otpAlert.innerHTML = `<strong>` + json['success'] + `</strong><button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>`;
				}
			}
		});
	})

</script>